body{
    background-image: url('bg.jpg');
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size: 100% 150%;

    font-family: Arial;
    padding: 10px;
}

.header{
    padding: 10px;
    text-align: center;
    background:rgb(147, 206, 208);
}

.header h1{
    font-size: 50px;
    text-align:center;
    color:teal; 
    opacity:0.75;
}

.body{
    padding: 20px;
    background: rgba(69, 49, 69, 0.3);
    margin-top: 20px;
}

.bodytitle p{
    color:sienna;
    text-align: center;
    font-style: italic;
    font-size: 24px;
}
.bodycont p{
    color:rgb(85, 29, 137);
    text-align:left;
    margin-left:20px;
    font-family:'arial';
  }
.bodypic p{
    text-align: center;
}

.card{
    padding: 20px;
    background: rgb(186, 115, 83);
    margin-top: 20px;  
}

.card h2{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.footer{
    padding: 20px;
    text-align: center;
    background: rgb(196, 141, 141);
    margin-top: 20px;
}

@media screen and (max-width: 400px) {
    .topnav a{
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 800px){
    .leftcolumn, .rightcolumn{
        width: 100%;
        padding: 0;
    }
}